@import "./mixins";
@import "./variables";

// @font-face {
//   font-family: Poppins;
//   src: url("../../../public/assets/fonts/Poppins-Regular.ttf");
// }


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


